body{
    font-family: "Courier New", serif;
    color: green;
    font-size: 16px;
}

h1, h2, h3, h4,
strong{
    font-family: 'Special Elite', "Courier New", serif;
    color: white;
}

.text-white-button {
    font-family: 'Special Elite', "Courier New", serif;
    color: white;
    font-size: 12px;
}

.alert-bg {
    background-color: #328c51;
    color: #193e26;
}
p {
    color: white;
}

h1{
    font-size: 5rem;

}

textarea{
    font-family: 'Special Elite', "Courier New", serif;

}
strong{
    font-size: 1.1em;
}

.navbar-brand{
    height: auto;
}
.back-jumbo {
    background-image: url('images/jumbo.jpg');
    background-attachment: fixed;
}

a {
    color: white;
}
.file-logo {
    height : 74px;
    width : 74px;
    filter: grayscale(80%);
}
